@model IEnumerable<PIA.Models.dbModels.Carrito>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Libro
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.IdLibroNavigation.Nombre
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @item.Total.ToString("C")
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { LibroId = item.IdLibro })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td colspan="3">@(Model.Sum(item => item.Total).ToString("C"))</td>
        </tr>
    </tfoot>
</table>

<div class="row justify-content-end">
    <form asp-controller="Ordens" asp-action="CrearOrden" method="post">
        <div class="input-group">
            <select class="form-select" id="metodoPago" name="metodoPago" asp-items="ViewBag.MetodosPago"></select>
            <button class="btn btn-success" type="submit">Crear Orden</button>
        </div>
    </form>
</div>
