@model IEnumerable<PIA.Models.dbModels.Orden>

@{
    ViewData["Title"] = "Index";
}

<h1>Mis ordenes</h1>

<table class="table misord">
    <thead>
        <tr>
            <th>
                # Orden
            </th>
            <th>
                Fecha
            </th>
            <th>
                Metodo Pago
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Idorden
            </td>
            <td>
                @item.Fecha.ToString("g")
            </td>
            <td>
                @item.IdmetodopagNavigation.Descripcion
            </td>
            <td>
                @item.Total.ToString("C")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Idorden">Imprimir</a>
            </td>
        </tr>
}
    </tbody>
</table>
