@model IEnumerable<PIA.Models.dbModels.Libro>

@{
    ViewData["Title"] = "Catalogo";
}

<h1>Nuestro catalogo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Añopublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditorialNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Añopublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutorNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNavigation.Descripción)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorialNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdLibro">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
