@model IEnumerable<PIA.Models.dbModels.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Libros</h1>

<p>
<button onclick="crear()">Crear Nuevo</button>
</p>
<table class="table tablasadmin">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Añopublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th class="espacio">
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditorialNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Añopublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td class="espacio">
                <img class="imagenprod" src="@Html.DisplayFor(modelItem => item.Imagen)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutorNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNavigation.Descripción)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorialNavigation.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdLibro"><button class="btn btn-success">Editar</button></a> 
                    <a asp-action="Details" asp-route-id="@item.IdLibro"><button class="btn btn-info">Detalles</button></a> 
                    <a asp-action="Delete" asp-route-id="@item.IdLibro"><button class="btn btn-danger">Eliminar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
<button onclick="atras()">Volver a pagina Admins</button>

<script>
    var link = 'https://localhost:7095';
    $(document).ready;
    function atras(){
        location.href = link+'/Home/Admin';
    }  function crear() {      location.href = link + '/Libroes/Create';
    }
</script>