@model PIA.Models.dbModels.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle  @Html.DisplayFor(model => model.Nombre)</h1>

<main>
    <article>
        <h3> @Html.DisplayFor(model => model.Nombre)</h3><hr>

    </article>
    <aside>
        <img class="imagenprod" src=" @Html.DisplayFor(model => model.Imagen)" align="right"><br />

    </aside>
    <header>
        <h6>Año:  @Html.DisplayFor(model => model.Añopublicacion)</h6><br />
        <h6>Precio: $ @Html.DisplayFor(model => model.Precio)</h6><br />
        <h6>Autor:  @Html.DisplayFor(model => model.AutorNavigation.Nombre)</h6><br />
        <h6>Editorial:  @Html.DisplayFor(model => model.EditorialNavigation.Nombre)</h6><br />
        <h6>Categoría:  @Html.DisplayFor(model => model.CategoriaNavigation.Descripción)</h6><br /><hr>
    </header>
    <p> @Html.DisplayFor(model => model.Descripcion)</p>
    <br />

</main>
<div>
    <a asp-action="Index">Regreso a Catalogo</a>
</div>
