@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@model PIA.Models.dbModels.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle  @Html.DisplayFor(model => model.Nombre)</h1>

<main class="productodetalle">
    <article>
        <h3> @Html.DisplayFor(model => model.Nombre)</h3><hr>

    </article>
    <aside>
        <img class="imagenprod" src=" @Html.DisplayFor(model => model.Imagen)" align="right"><br />

    </aside>
    <header>
        <h6>Año:  @Html.DisplayFor(model => model.Añopublicacion)</h6><br />
        <h6>Precio: $ @Html.DisplayFor(model => model.Precio)</h6><br />
        <h6>Autor:  @Html.DisplayFor(model => model.AutorNavigation.Nombre)</h6><br />
        <h6>Editorial:  @Html.DisplayFor(model => model.EditorialNavigation.Nombre)</h6><br />
        <h6>Categoría:  @Html.DisplayFor(model => model.CategoriaNavigation.Descripción)</h6><br /><hr>
    </header>
    <p> @Html.DisplayFor(model => model.Descripcion)</p>
    <br />
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Cantidad</span>
            <input type="number" class="form-control cantidad" min="1" data-id=@Model.IdLibro placeholder="1">
            <button class="productoag" data-id=@Model.IdLibro><i class="fa-solid fa-cart-shopping"></i>Agregar a Carrito</button>
        </div>
    }
    else
    {
        <strong>Ingrese a su cuenta para agregar algo a su carrito</strong>
    }
</main>
<div>
    <br />
    <a asp-action="Index"><button class="btn btn-dark">Regreso a Catalogo</button></a>
</div>
