@model IEnumerable<PIA.Models.dbModels.Libro>

@{
    ViewData["Title"] = "Catalogo";
}

<h1>Nuestro catalogo</h1>


@foreach (var item in Model) {
            
            <main>
                <article>
                    <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3><hr>

                </article>
                <aside>
                    <img class="imagenprod" src="@Html.DisplayFor(modelItem => item.Imagen)" align="right"><br />

                </aside>
                <header>
                    <h5>Precio: $@Html.DisplayFor(modelItem => item.Precio)</h5><br />
                    <h6>Autor: @Html.DisplayFor(modelItem => item.AutorNavigation.Nombre)</h6><br />
                </header>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <a asp-action="Details" asp-route-id="@item.IdLibro">Details</a>
                <hr /><br/><br/>

            </main>
}
